@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;

  color: #fff;
  font-size: 1.6vmin;
  font-family: 'Inconsolata', monospace;

  overflow: hidden;
  user-select: none;
}

body { 
  width: 100vw;
  height: 100vh;

  background-color: #222;
}

#beat-display-wrapper {
  background-color: #000;

  font-size: 3em;
}
#beat-display {
  font-size: 0.6em;
}
#user-count-display-wrapper {
  background-color: #111;

  font-size: 1.5em;
}
#user-count-display {
  font-size: 0.6em;
}
#user-color-display {
  height: 0.3vh;

  background: linear-gradient(90deg);
  background-color: #000;
}

#beat-button-container {
  --grid-rows: 3;
  --grid-cols: 4;
  position: relative;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  margin: 1vh auto;
  height: 40vmin;
  width: calc(40vmin * var(--grid-cols) / var(--grid-rows));

  background-color: #333;
  border-radius: 1vmin;
  box-shadow: 0 0 1vmin #000 inset;

  overflow: visible;
}
#beat-button-container::before {
  position: absolute;
  left: 100%;
  content: "Drums";
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-weight: bold;
}
.beat-button {
  --color: #000;

  position: relative;

  margin: auto;
  width: 85%;
  height: 85%;

  background-color: var(--color);

  white-space: nowrap;
  transition: all ease-out 0.3s;
}
.beat-button:active {
  filter: brightness(1.6);

  transition: all 0s;
}
.beat-button > div {
  position: absolute;
}
.beat-button__name {
  top: 5%;
  left: 5%;

  font-size: 1.5em;
  color: #444;
  mix-blend-mode: difference;
}
.beat-button__key {
  bottom: 5%;
  right: 5%;
  
  color: #fff;
}

#emoji-button-container {
  position: relative;
  margin: 3vh auto 0 auto;
  width: 35vmin;
  height: 20vmin;

  display: grid;
  grid-template-columns: repeat(7, 1fr);

  background-color: #333;
  border-radius: 1vmin;
  box-shadow: 0 0 1vmin #000 inset;

  overflow: visible;
}
#emoji-button-container::before {
  position: absolute;
  content: "Emojis";
  font-weight: bold;
  bottom: 100%;
}
#emoji-button-container > span {
  margin: auto;
  aspect-ratio: 1 / 1;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111;
  box-shadow: 0 0 0.3vmin #000;

  cursor: pointer;
  transition: all 0.3s;
}
#emoji-button-container > span:active {
  filter: brightness(2);
  transition: all 0s;
}

#canvas {
  box-shadow: 0 0 1vmin #000;
  background-color: #262626;
}

footer {
  position: absolute;
  bottom: 0;

  padding: 0 5vw;
  width: 90vw;
  height: 3vh;

  display: flex;
  justify-content: space-between;
  
  background-color: #000;
}
footer > * {
  height: 100%;

  display: flex;
  align-items: center;
}
#link-github {
  background: linear-gradient(
    90deg,
    #fff 50%,
    #aed88c 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  transition: all 0.3s;
}
#link-github:hover {
  background-position: 100%;
  font-weight: bolder;
}
