@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;

  color: #fff;
  font-size: 1.6vmin;
  font-family: 'Inconsolata', monospace;

  overflow: hidden;
  user-select: none;
}

body { 
  width: 100vw;
  height: 100vh;

  background-color: #222;
}

#beat-display-wrapper {
  background-color: #000;

  font-size: 3em;
}
#beat-display {
  font-size: 0.6em;
}
#user-display-wrapper {
  background-color: #111;

  font-size: 1.5em;
}
#user-display {
  font-size: 0.6em;
}

#beat-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: 40vh;
}
#beat-button-container > div {
  margin: 0 1vw;
  width: 20vw;
  height: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  white-space: nowrap;

  transition: all ease-out 0.3s;
}
#beat-button-container > div:active {
  filter: brightness(1.6);

  transition: all 0s;
}

#emoji-button-container {
  position: relative;
  margin: 3vh auto 0 auto;
  width: 30vmin;
  height: 15vmin;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  background-color: #333;
  border-radius: 1vmin;

  box-shadow: 0 0 1vmin #000 inset;
  overflow: visible;
}
#emoji-button-container::before {
  position: absolute;
  content: "Emojis";
  font-weight: bold;
  bottom: 100%;
}
#emoji-button-container > span {
  margin: auto;
  aspect-ratio: 1 / 1;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111;

  cursor: pointer;
  transition: all 0.3s;
}
#emoji-button-container > span:active {
  filter: brightness(2);
  transition: all 0s;
}
